div.title{
  font-family: sans-serif;
  text-align: center;
  text-shadow: 2px 2px blue;
  color:white;

}
/*Makes the title have formatting*/

ul{
  list-style-type: none;
  margin:0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(128,128,128);
  position: fixed;
  top:50;
  width: 100%;




}
/*Makes the navbar*/
li{
  float: left;




}
li a {
  display: block;
  color: rgb(255,255,255);
  text-align: center;
  padding: 16px 14px ;
  text-decoration: none;
  padding-right: 50px;


}
li a:hover{
  background-color: rgb(0,153,204);

}
li a.active{
  background-color: rgb(153,51,102);


}
body{
  background-color: rgb(255,153,204);

}/*Sets the background color*/
div.paragraphs{
  font-size: 20px ;
  color: rgb(128,128,128);
  padding-left: 20px ;
  padding-right: 20px ;
  padding-bottom: 20px ;
  padding-top: 20px;
  background-color: rgb(255,153,204);
  text-align: center;

}
/*sets formats for paragraphs*/
div.headings{
  font-size: 20px;
  color: rgb(255,255,255);
  padding-top: 20px;
  text-align: center;
  text-shadow: 3px 3px blue;
  background-color: rgb(255,153,204);

}/*Sets the format for headings*/

div.trademark{
  color:rgb(255,255,255);
  text-align: right;
  text-shadow: 2px 2px blue;

}
/*Sets the format for the trademark*/
div.images{
  position:relative;
  width:175px;
  height:175px;
  left:750px;

}
/*Sets the format for the images*/
